* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*  */

.option-details-title {
  border-radius: 0 0 40px 40px;
}

/* flip down */

.flipdown .rotor-group-heading {
  display: none;
}

.flipdown .rotor-group .rotor {
  font-size: 1rem;
}

/*  */

.options {
  padding: 12px;
}
.active {
  background-color: #ee5661;
  color: white;
}

.option-details {
  display: none;
}
.show-details {
  display: unset;
}

.active::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -10px;
  margin-top: -12px;
  width: 8px;
  height: 50px;
  border-radius: 44px;
  background-color: #ee5661;
}
